
body{
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  background-color:#373737;
  background: -webkit-linear-gradient(right, #696969, #373737);
  background: -moz-linear-gradient(right, #22427C, #373737);
  background: -o-linear-gradient(right, #22427C, #373737);
  background: linear-gradient(to left, #22427C, #373737);
    position:relative;
}


.type{
    color:#1270B3;
  font-weight: bold; 
}

.section_centre{
    left:120px;
    width: 90%;
    position:relative;
}

.section2 input[type="text"] {
    border: none;
    border-bottom: 1px solid #b2b2b2;
    width: 120px;
}

.Zone_Texte{
    padding-top:40px;
}

.div3 th {
    width:100px;
    border-bottom:1px solid black;
    color:black;
}

.gris2{
    height:620px; 
    width:100px; 
    padding-top:70px;"
}
.carreGris {
    height:77px; 
    width:80px; 
    background-color: #656565; 
    margin-bottom: 20px; 
    margin-left:auto; 
    margin-right:auto; 
    border-radius: 5px;"
    padding-top:0px;
    cursor:pointer;
    
}
.carreGris:hover{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color:aliceblue;

}

.icone_menu{
    width:43%; 
    height:45%; 
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10px;
    display:block;
}

.icone_suivi{
    width:80%; 
    height:75%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top: 0px;
    display:block;
}

.icone_ajouter{
    width:30px;
    height: 30px;
    vertical-align: middle;
}

.icone_liste {
    width:25px;
    height:28px;
    vertical-align: middle;
}

.icone_extra{
    width:55%;
    height:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10; 
    display:block;
}

h4{
    padding-left:14px; 
    margin-top:0; 
    margin-bottom: 0;
}

.menu8{
    background-color:#1270B3;
    
}
.extra{
    position:absolute;
    right:10px;
    height: 120px;
    width:120px;
    right: 10px;
    bottom: 28px;
    background-color:#656565;
}

.extra:hover{
    box-shadow: 0 70px 70px 0 rgba(0,0,0,0.2);
    color:aliceblue;  
    
}

.gris{width: 100%;
             height: 100%;
             margin:0;
               background-color:#373737;
              background: -webkit-linear-gradient(right, #696969, #373737);
              background: -moz-linear-gradient(right, #22427C, #373737);
              background: -o-linear-gradient(right, #22427C, #373737);
              background: linear-gradient(to left, #22427C, #373737);
                         border:0;
            color:#ffffff;
             position:relative}


.blanc{ width: 90%;
       height:100% ;
       top:70px;
       left:120px;
       bottom: 100px;
       right: 100px;
       background-color: #EFEFEF ;
       border: 0px solid #ffffff ;
       position: absolute;       
       z-index: 10}

.section1{
  width:90%;
  top:40px;
  margin-top: 30px;
  position:absolute;
}


.section4{
  width:900px;
  left:80px;
  top:0px;
  margin-top: 10px;
  position:absolute;
}

.section2{
     margin-top:50px;
}
.bouton1{
	padding: 5px 15px;
	margin: 3px 4px;
	display: inline-block;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	background: #4095ff;
	background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -moz-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -webkit-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	background: -o-linear-gradient(top, #4095ff 0%, #277ce6 100%);
	border: 1px solid #338bf6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}
.bouton1:hover {
	background: linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -moz-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -webkit-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -o-linear-gradient(top, #5aafff 0%, #4095ff 100%);
}
.bouton1:active{
	opacity:0.8;
}
.traitant&urgentiste{
    
}

}
input[type=button]{
    padding: 5px 15px;
    margin: 3px 4px;
    display: inline-block;
    color: #ffffff ;
    font-size: 15px;
    cursor: pointer;
    background: #4095ff ;
    background: linear-gradient(top, #4095ff  0%, #277ce6  100%);
    background: -moz-linear-gradient(top, #4095ff  0%, #277ce6  100%);
    background: -webkit-linear-gradient(top, #4095ff  0%, #277ce6  100%);
    background: -o-linear-gradient(top, #4095ff  0%, #277ce6  100%);
    border: 1px solid #338bf6 ;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
input[type=button]:hover{
    background: linear-gradient(top, #5aafff  0%, #4095ff  100%);
    background: -moz-linear-gradient(top, #5aafff  0%, #4095ff  100%);
    background: -webkit-linear-gradient(top, #5aafff  0%, #4095ff  100%);
    background: -o-linear-gradient(top, #5aafff  0%, #4095ff  100%);
}
input[type=button]:active{
    opacity:0.8;
}

.myButton1 {
	-moz-box-shadow:inset 0px 4px 0px 43px #ffffff;
	-webkit-box-shadow:inset 0px 4px 0px 43px #ffffff;
	box-shadow:inset 0px 4px 0px 43px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:-11px 1px 11px #ffffff;
    margin-top:10px;
    margin-left:10px;
    text-decoration:none;
}


.myButton2 {
	-moz-box-shadow:inset 0px 4px 0px 43px #ffffff;
	-webkit-box-shadow:inset 0px 4px 0px 43px #ffffff;
	box-shadow:inset 0px 4px 0px 43px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#1270B3;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding:5px 9px;
	text-decoration:none;
	text-shadow:-11px 1px 11px #ffffff;
    right:60px;
    top:10px;
    position:absolute;
    
    text-decoration:none;
}


.myButton:active {
	position:relative;
	top:1px;
   
}

#Ajouter_liste{
    position: relative;
    top: 10px;
    float:right ;
    margin-right: 90px;
    border-radius:6px;
	cursor:pointer;
    }

#Examens{
    margin-top: 100px;
     margin-left: auto;
    margin-right: auto;
    width: 200px;
    }

#Utilisateurs{
     margin-left: auto;
    margin-right: auto;
    width: 200px;
    }

#Export_BDD{
     margin-left: auto;
    margin-right: auto;
    width: 200px;
    }



.titreGauche{
  left:7.5%;
  top:0px;
  position:absolute;
    
}


.section3{
  left:20px;
  top:100px;
  color:black;
  position:absolute;   
}

.section5{
  left:20px;
  padding-top: 20px;
  color:black;
  position:absolute;   
}

.titre{
  width: 90%;
  height:50px;
  background: #1270B3; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #22427C, #1270B3);
  background: -moz-linear-gradient(right, #22427C, #1270B3);
  background: -o-linear-gradient(right, #22427C, #1270B3);
  background: linear-gradient(to left, #22427C, #1270B3);
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  color:#ffffff;
  font-family:Arial,Verdana;
  top:0px;
  left:120px;
  position: absolute;
  z-index: 18;
}


.champ{
  font-weight: bold; 
}

.Recap{
  color:#1270B3;
}

.myButton3 {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#1270b3;
	-moz-border-radius:31px;
	-webkit-border-radius:31px;
	border-radius:31px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    
}
.myButton3:hover {
	background-color:#1270b3;
}
.myButton3:active {
	position:relative;
	top:1px;
    
    text-decoration-line:none;
}


.boutons_rdv{
    position: absolute;
    padding-top: auto;
}
    

.section2{
    color:black;
}


.calendaire{
   width:220px; 
   height:200px;
   left:90%;
   top:60%;
   position: absolute;
}


#table1 {  
  
     border-collapse: collapse;  
  
}  
  
#table1 caption {  
  
     font-size: larger;  
  
     margin: 1em auto;  
  
} 

th {
    text-align: right;
    padding-right: 10px;
}
  
  
#table1 th {  
     height:30px;
     background: #555 nonerepeat scroll 0 0;  
     border: 0px solid #777;
     color: #fff;  
  }  
  
#table1 td {
     text-align: center;
     width:auto;
     height:50px;
     border: 0px solid #777;
  }  
  
#table1 tbody tr:nth-child(odd) {  
     background: #777;  
  }  
  
#table1 th:first-child {  
     border-radius: 9px 0 0 0;  
  }  
  
#table1 th:last-child {  
  
     border-radius: 0 9px 0 0;  
  }  
  
#table1 tr:last-child td:first-child {  
  
     border-radius: 0 0 0 9px;  
  }  
  
#table1 tr:last-child td:last-child {  
  
     border-radius: 0 0 9px 0;  
  }  

.nav ul{
     width:980px;
     margin:0px auto;
     height:38px;
     padding:0;
        }
.nav ul li{
     float:left;
        }
.nav ul li a{
     width:80px;
     height:28px;
     line-height:28px;
     background:#1270B3;
     color:#FFF;
     margin:5px 10px;
     font-size:12px;
     display:block;
     text-align:center;
     text-decoration:none;
        }
.nav ul li a:hover{
     width:78px;
     height:26px;
     line-height:28px;
     border:1px solid darkblue;
     color:darkblue;
     background:#FFF;
        } 

#conteneur {
    display: flex;
    flex-direction: row;
    color:black;
    justify-content: space-around;
    position:absolute;
    top:100px;
    border: 1px;
    width: 870px;
}


.images_moyen {
width:100px;
height:100px;
}

.date{
    position: absolute;
    right:10px;
    top:10px;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px auto;
	border:#ccc 1px solid;
    width: 85%;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
    text-align: center;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: center;
    padding:5px;
    width: auto;
}


table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
    text-align: center;
    border-left:0;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}


table td:first-child {
	text-align: center;
    padding:5px;
	border-left: 0;
    width: auto;
}


table td {
    text-align: center;
	padding:auto;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid ##B0C4DE;
	border-left: 1px solid ##B0C4DE;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #B0C4DE;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

#container{
    width: 90%;
    margin:0px auto;
    color:black;
}

.title {
	color: #337ab7;
    margin-top:30px;
    margin-left: 30px;
    text-decoration: none; 
    line-height: 1.42857143;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    padding: 10px 40px;
    cursor:pointer;
    font-size:15px;
}

.onglet{
    left:120px;
    width: 90%;
    right: 100px;
    top:15%;
    display:flex;
    flex-wrap:nowrap;
    position: relative;
    margin-top: 40px;
    color:grey;
}



.onglet input{
    border: none;
    background: none;
    border-bottom: 0px solid #b2b2b2;
    width: 250px;
}


#modif input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
}
 
.inputDate{
    width: 30px !important;

}


.date input {
    width: 30px !important;
    border: none;
    background: none;
    border-bottom: 1px solid #b2b2b2;
}


.active {
	color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.btn_menu{
	background-color:#1270B3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:0px 0px;
    margin-right: 10px;
	text-decoration:none;
    border-radius: 50px;
}

.centrage {text-align: center}
.btn_liste_centres{
	background-color:#1270B3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding:100px 64px;
	text-decoration:none;
}
.btn_liste_centres:hover {
	background-color:#019ad2;
}
.btn_liste_centres:active {
	position:relative;
	top:1px;
}
.btn_liste_patients{
	background-color:#1270B3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:100px 62px;
	text-decoration:none;
}
.btn_liste_patients:hover {
	background-color:#019ad2;
}
.btn_liste_patients:active {
	position:relative;
	top:1px;
}
.btn_calendrier{
	background-color:#1270B3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:100px 75px;
	text-decoration:none;
}
.btn_calendrier:hover {
	background-color:#019ad2;
}
.btn_calendrier:active {
	position:relative;
	top:1px;
}
.btn_nouveau_patient{
	background-color:#1270B3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:100px 50px;
	text-decoration:none;
}
.btn_nouveau_patient:hover {
	background-color:#019ad2;
}
.btn_nouveau_patient:active {
	position:relative;
	top:1px;
}
.centrage_vertical{
    margin-top: 50vh;
    transform: translateY(-50%);
}
.supprimer {
    float: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.recherche_p{
    margin-top: 30px;
    margin-left: 10px;
}
button {   
  background: none;   
  border: 0;   
  box-sizing: border-box;   
  box-shadow: inset 0 0 0 2px  #ffffff;   
  color: #000000;   
  font-size: inherit;   
  font-weight: 700;   
  margin: 1em;   
  padding: 1em 2em;   
  text-align: center;   
  text-transform: capitalize;   
  position: relative;   
  vertical-align: middle;   
}   
button::before, button::after {   
  box-sizing: border-box;   
  content: '';   
  position: absolute;   
  width: 100%;   
  height: 100%;   
}        
.center:hover {
  color: #6477b9;
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.center::before {
  border-top: 2px solid #6477b9;
  border-bottom: 2px solid #6477b9;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.center::after {
  border-left: 2px solid #6477b9;
  border-right: 2px solid #6477b9;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}
.btn1
{
    margin-top: 20px;
    padding-bottom: 30px;
	background:url("plus.gif") no-repeat 8px center;
}


#recherche {
margin-top: 0px;
margin-left:0px;
width:208px;
height:24px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}
  
#recherche .loupe {
background:url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
width:24px;
}
  
#recherche input {
outline:0;
border:0;
margin:0;
height:24px;
float:left;
display:block;
}
  
#recherche input[type=text] {
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
background:none;
width:180px;
padding:0 9px;
color:#666;
}


.onglet table { 
width:auto; 
} 
.onglet tr { 
width: auto;
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
color: #1270B3; 
} 
.onglet input{ 
color: #1270B3; 
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
height: 35px; 
width: 150px;
line-height: 30px; 
border-radius:5px; 
} 

.submit { 
position: relative;
margin-top: 10px;
left:980px;
width: 150px; 
height: 40px; 
cursor :hand;
font-size: 20px; 
color: #ffffff; 
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
background-color: #1270B3; 
border: 0px; 
cursor:pointer;

} 

.thead { 
height: 40px; background : #1270B3; 
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
color: #ffffff; 
background: #1270B3; 
} 
#3{ 
margin-bottom: 100px; 
} 


label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.small-checkbox + label {
	padding: 6px;
}

.small-checkbox:checked + label:after {
	font-size: 1px;
    top: -2px;
	left: 1px;
}


.position_table{
    margin:0 auto;
}

input[type="placeholder"]{
 color:red;
    }

.modif input{
    color:red;
}

.recherche{
    top:-2%;
    left:7.5%;
    position:relative; 
}
.section {
color: #000000;
}
.placeholder{
color: #a9a9a9;
 width: 205px;
 height: 25px;
}
select option:first-child{color:grey; display: none;}
select option {color:black;}